@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
  /* @apply bg-black */
}

.gradient-bg {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}


.image-background {
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/1d29f9a4-1900-43dc-a420-99044f734ee2/ad2b2601-8fe1-4c3c-8e72-f5007b8636ae/CO-en-20240826-POP_SIGNUP_TWO_WEEKS-perspective_WEB_a4efcbf0-97d6-4ce3-8749-83665e1bbd15_large.jpg');
}


.notfound-background {
  background-image: url('https://assets.nflxext.com/ffe/siteui/pages/errors/bg-lost-in-space.png');
}


.notfound-gradient-bg {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}